@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    line-height: 1.7;
    color: black;
}
img {
    max-width: 100%;
}

/* header
------------------------------- */
#nav-logo{
    margin-right: 60px;
}
.navbar{
    background-color: #fff;
}
.navbar-brand{
    display: block;
	width: 80px;
	height: 70px;
}
.nav-item{
    padding: 0 35px;
}
.nav-items{
    margin: 0 auto;
}

/* HOME
------------------------------- */
#home {
    background-image: url(../images/home-bg.png);
    background-size:contain;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#home .page-title {
    text-transform: none;
    padding-top: 80px;
    margin-bottom: 30px;
}
.home-content-text{
    padding-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    background:rgba(255, 255, 255, 0.55);
    top: 110px;
    border-radius: 150px;
}
.page-title #bigger{
    font-size: 60px;
}
#bigger .color1{
    color: #FFAF5C;
}
#bigger .color2{
    color: #2EDEFF;
}
#bigger .color3{
    color: #FFE973;
}
#bigger .color4{
    color: #73FF9F;
}
/* ボタン. */
.button1 {
    font-size: 1.375rem;
    background: #FFAF5C;
    color: #000;
    border-radius: 30px;
    padding: 16px 30px;
    margin-right: 10px;
}
.button2 {
    font-size: 1.375rem;
    background: #2EDEFF;
    color: #000;
    border-radius: 30px;
    padding: 16px 30px;
    margin-left: 10px;
}
.button1:hover {
    background: #FF570D;
    text-decoration: none;
}
.button2:hover {
    background: #0090aa;
    text-decoration: none;
}

/* subcontent(共通)
------------------------------- */
.sub-content{
    margin: 120px 0 120px 0;
}
.sub-content h1{
    text-align: center;
}
.sub-content p{
    text-align: center;
}


/* sub-one
------------------------------- */

/* sub-two
------------------------------- */
.fullwidth-one{
    background-color: rgba(255, 175, 92, 0.55);
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
}
.sub-two{
    padding: 80px 0;
}

/* sub-three
------------------------------- */
.sub-three{
    text-align: center;
}
#sub-three-title{
    margin-bottom: 80px;
    font-size: 40px;
}
.sub-three-content{
    margin-bottom: 50px;
}
.sub-three-h{
    padding: 0 8px 8px;
    border-bottom: 2px #2EDEFF solid;
    margin-bottom: 50px;
}
/* ボタン. */
.button3 {
    font-size: 1.375rem;
    background: #FFAF5C;
    color: #000;
    border-radius: 30px;
    padding: 16px 30px;
}
.button3:hover {
    background: #FF570D;
    text-decoration: none;
}

/* SNS
------------------------------- */
.fullwidth-two{
    background-color: rgba(115, 255, 159, 0.55);
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
}
.sns-content{
    padding: 80px 0;
}
.sns-title{
    margin-bottom: 50px;
    font-size: 40px;
}
.sns-title{
    text-align: center;
    font-size: 35px;
}
#sns .sub-title {
    text-align: center;
    padding: 0 8px 8px;
    border-bottom: 2px #2EDEFF solid;
    margin-bottom: 30px;
}
.sns-box {
    width: 30%;
}

/* footer
------------------------------- */
.footer-logo{
    display: block;
    width: 90px;
    height: 80px;
    margin: 0 auto;
}
#footer-items{
    text-align: center;
    margin: 15px 0;
}
.footer-item{
    padding: 0 10px;
}
footer {
    background: #FFFFF2;
    padding: 26px 0;
}
.footer-p {
    color: #000;
    font-size: 0.875rem;
    text-align: center;
}

/* メディアクエリ指定
------------------------------- */
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 320px) {
    
}